<?php
/**
 * @var \Comment\Model\DomainModel\Interfaces\ProductVote\ProductComment[]|\Zend\Paginator\Paginator $votes
 * @var bool $doVoteAble - разрешено ли добавлять комментарии
 * @var array $userVotes - голоса текущего пользователя к показываемым коллекциям в виде ассоциативного массива collection_id => is_positive
 * @var int $currentUserId - айдиха текущего пользователя
 * @var bool $deleteAble - имеет ли пользователь права на удаление/редактирование
 * @var string $pathToAction - часть урла, являющаяся путем к экшенам
 */
$count = 0;
$this->inlineScript()->appendFile('/module/comment/js/comment.js');
?>
    <script>
        var showAllCommentsUrl = '<?php echo $pathToAction;?>/list';
        var changeRatingUrl = '<?php echo $pathToAction;?>/change-rating/';
        <?php if ($deleteAble) :?>
            var saveCommentUrl = '<?php echo $pathToAction;?>/save';
            var deleteCommentUrl = '<?php echo $pathToAction;?>/delete';
        <?php endif;?>

    </script>
    <?php foreach($votes as $vote):?>
        <?php $count++; ?>
        <div class="review-teaser">
            <div class="review-title">
                <span class="user"><?php
                    $comment = $vote->getComment();
                    echo $comment->getUserName() . ' ' . $comment->getUserLname();
                    ?></span>
                <span class="date"><?php echo $comment->getDatePublic('d.m.Y');?></span>
                <span class="rateit" data-rateit-value="<?php echo $vote->getEstimate();?>" data-rateit-ispreset="true" data-rateit-readonly="true"></span>
            </div>
            <div class="review-content">
                <?php if($deleteAble) : ?>
                    <a class="close glyphicon glyphicon-remove remove_comment"
                       data-vote_id="<?php echo $vote->getId()?>"
                       href="#"
                       title="Удалить"></a>
                    <span class="close">&nbsp;</span>
                    <a class="close glyphicon glyphicon-edit edit_comment"
                       data-vote_id="<?php echo $vote->getId()?>"
                       title="Редактировать"
                       href="#"></a>
                <?php endif;?>
                <p class="product-comment-text"><?php echo nl2br($comment->getComment());?></p>
                <?php if($deleteAble) : ?>
                    <div class="product-comment-text-edit" data-comment_id="<?php echo $comment->getId()?>"></div>
                <?php endif;?>

                <div class="rating_container" data-comment_id="<?php echo $comment->getId()?>">
                    Полезный отзыв <?php
                    if (isset($userVotes[$comment->getId()]) &&
                        $userVotes[$comment->getId()] === true ||
                        $currentUserId == $vote->getUserId()
                        || !$doVoteAble) {

                        echo '<span class="positive-rating">Да</span>';
                    } else {
                        echo '<span class="positive-rating increase-rating">Да</span>';
                    }
                    ?><span class="positive-votes-count">(<?php echo $comment->getPositiveVotes()?>)</span> /
                                    <?php
                                    if (isset($userVotes[$comment->getId()]) &&
                                        $userVotes[$comment->getId()] === false ||
                                        $currentUserId == $vote->getUserId()
                                        || !$doVoteAble) {

                                        echo '<span class="negative-rating">Нет</span>';
                                    } else {
                                        echo '<span class="negative-rating decrease-rating">Нет</span>';
                                    }
                                    ?><span class="negative-votes-count">(<?php echo $comment->getNegativeVotes()?>)</span>
                </div>
                <div class="error_message"></div>
            </div>
        </div>
    <?php endforeach;?>
    <!--            --><?php //echo $this->partial('application/partial/_paging', array(
//                'pager' => $votes,
//                'request' => $request,
//                'hash' => 'votes'
//            ));?>
<?php if ($count == 0) : ?>
    <div class="review-teaser">
        <div class="review-content">
            Отзывы отсутствуют
        </div>
    </div>
<?php endif;?>