<?php
/**
 * @var \Comment\Form\ProductCommentForm $commentForm
 */
?>
<?php if ($commentForm) : ?>
    <?php echo $this->form()->openTag($commentForm); ?>
    <div class="row" id="comment_form">
        <div class="col-md-12 col-xs-12 ">
            <div class="well">
                <div class="row">
                    <div class="col-md-12 col-xs-12 ">
                        <h4>Поставьте свою оценку</h4>
                    </div>
                    <?php if ($commentForm->has('email')) : ?>
                        <div class="col-md-2 col-xs-2 ">
                            <?php
                            $name = $commentForm->get('email');
                            echo $this->formLabel($name);
                            ?>
                        </div>
                        <div class="col-md-4 col-xs-4 ">
                            <?php
                            $name->setLabel('');
                            echo $this->formRowTwb($name);
                            ?>
                        </div>
                    <?php endif; ?>
                    <div class="col-md-4 col-xs-4 ">
                        <div id="do-rate" data-step="1">
                        </div>
                        <?php
                        $name = $commentForm->get('estimate');
                        echo $this->formRowTwb($name);
                        ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 "><h4>Вы можете оставить комментарий вместе с оценкой</h4></div>
                </div>
                <div class="row">
                    <?php if ($commentForm->has('name')) : ?>
                        <div class="col-md-2 col-xs-2 ">
                            <?php
                            $name = $commentForm->get('name');
                            echo $this->formLabel($name);
                            ?>
                        </div>
                        <div class="col-md-4 col-xs-4 ">
                            <?php
                            $name->setLabel('');
                            echo $this->formRowTwb($name);
                            ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($commentForm->has('lname')) : ?>
                        <div class="col-md-2 col-xs-2 ">
                            <?php
                            $name = $commentForm->get('lname');
                            echo $this->formLabel($name);
                            ?>
                        </div>
                        <div class="col-md-4 col-xs-4 ">
                            <?php
                            $name->setLabel('');
                            echo $this->formRowTwb($name);
                            ?>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 ">
                        <?php
                        $name = $commentForm->get('comment');
                        echo $this->formElement($name);
                        ?>
                    </div>
                </div>
                <div class="row">
                    <?php if ($commentForm->has('captcha')) : ?>
                        <div class="col-md-12 col-xs-12 ">
                            <?php
                            $name = $commentForm->get('captcha');
                            //                                echo $this->formRow($name);
                            //                                $name->setLabel('');
                            echo $this->formRowTwb($name);
                            ?>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="row comment-send-row">
                    <div class="col-md-12 col-xs-12 ">
                        <?php
                        $name = $commentForm->get('sendBtn');
                        echo $this->formElement($name);
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php echo $this->form()->closeTag($commentForm); ?>
<?php endif; ?>